# PostgreSQL Variables

PG_HOST=Hostname

PG_PORT="Network port used"

PG_DATABASE="Specific database on server"

PG_USER=Username

PG_PASSWORD=Password

#Url consisting of the variables provided
DATABASE_URL=postgreSQL://${PGUSER}:${PGPASSWORD}@${POSTGRES_HOST}:${PGPORT}/${POSTGRES_DB}
